{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div id="account">
            <form style="display: inline-block;" action="{% url "user:login" %}">
                <input type="submit" value="Log in" />
            </form>
            <form style="display: inline-block;" action="{% url "user:logout" %}">
                <input type="submit" value="Log out" />
            </form>
            <form style="display: inline-block;" action="{% url "user:signup" %}">
                <input type="submit" value="Sign up" />
            </form>
            {% if user.is_authenticated %}
            <p  style="display: inline-block;">YOU'RE LOGGED IN AS {{ user.email }}</p>
            {% endif %}
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
