/* NAV */
nav {
    margin: 1%;
    width: 100%;
}
img#logo {
    width: 40px;
    height: 40px;
}
#logo-text {
    font-size: 15pt;
    font-weight: bold;
    vertical-align: middle;
}
input#nav_food_search {
    width: 100%;
    font-size: 12pt;
}
nav a {
    color: black;
    font-size: 15pt;
}
