/* BASE */
img#logo {
    width: 40px;
    height: 40px;
}
input#nav_food_search {
    width: 100%;
    font-size: 10pt;
}
/* INDEX */
.cook-name {
    font-weight: bold;
}
q {
    font-style: italic;
}
.cook-picture {
    height: 100%;
    width: auto;
}
@media (max-width: 600px) {
    .cook-picture-container {
        height: 50px;
    }
}
@media (min-width: 600px) {
    .cook-picture-container {
        height: 150px;
    }
}
/* LOG IN */
#wrong-credentials {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 2%;
}
/* PRODUCT DETAILS */
#picture {
     background-repeat: no-repeat;
     background-position: top;
}
#url-off {
    margin-top: 2%;
}
#save-product {
    margin-top: 2%;
}
/* SUBSTITUTES  LISTS */
#no-result {
    width: 50%;
    margin: 0 auto;
}
p.nutriscore {
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: -5%;
    right: 85px;
    width: 7.5%;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    p.nutriscore {
        right: 180px;
        width: 4.5%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    p.nutriscore {
        right: 270px;
        width: 3.5%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    p.nutriscore {
        right: 75px;
        width: 7.5%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    p.nutriscore {
        right: 100px;
        width: 6%;
    }
}
.product-img {
    width: 160px;
    height: 160px;
    object-fit: cover;
}
@media (min-width: 992px) {
    .product-name {
        height: 50px;
    }
    .save-product {
        margin-bottom: 5px;
    }
}
