/* BASE */
img#logo {
    width: 40px;
    height: 40px;
}
input#nav_food_search {
    width: 100%;
    font-size: 10pt;
}
/* INDEX */
.cook-name {
    font-weight: bold;
}
q {
    font-style: italic;
}
.cook-picture {
    height: 100%;
    width: auto;
}
@media (max-width: 600px) {
    .cook-picture-container {
        height: 50px;
    }
}
@media (min-width: 600px) {
    .cook-picture-container {
        height: 150px;
    }
}
/* LOG IN */
#wrong-credentials {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 2%;
}
