{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        {% block head_scripts %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body style="width: 100%; text-align:center;">
        <div id="account" style="margin-bottom: 2%">
            {% if user.is_authenticated %}
            <p>{{ user.email }}</p>
            <form action="{% url "user:logout" %}">
                <input type="submit" value="Log out" />
            </form>
            {% else %}
            <form style="display: inline-block;" action="{% url "user:login" %}">
                <input type="submit" value="Log in" />
            </form>
            <form style="display: inline-block;" action="{% url "user:signup" %}">
                <input type="submit" value="Sign up" />
            </form>
            {% endif %}
        </div>
        <div class="nav" style="margin-bottom: 5%">
            <a href="/">Home</a>
            {% if user.is_authenticated %}
            <a href="{% url "favorite:list" %}">Favoris</a>
            {% endif %}
        </div>
        <div id="content" style="display:inline-block">
            {% block content %}
            {% endblock %}
        </div>
    {% block bottom_scripts %}{% endblock %}
    </body>
</html>
