{% extends "base.html" %}
{% load static %}

{% block head_links %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block head_scripts %}
<script
    src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
</script>
<script
    src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous">
</script>
{% endblock %}

{% block title %}Pur Beurre{% endblock %}

{% block content %}
    <h1>Bienvenue sur le site Pur Beurre</h1>
    <form action="{% url "food:search" %}" method="POST">
        {% csrf_token %}
        <input type="text" name="food_search" id="food_search"
               placeholder="Quel produit voulez-vous substituer ?"
               style="width: 100%;margin-bottom: 2%"/>
        <input type="submit" value="Go"/>
    </form>
{% endblock %}

{% block bottom_scripts %}
<script src="{% static "js/ajax-search.js" %}" charset="utf-8"></script>
{% endblock %}
